.container {
  display: flex;
}

.sidebar {
  width: 25%;
  background-color: #F5F5F5;
  height: 100vh;
  display: flex;
  align-items: center;
}

.menu {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  flex: 1;
}

.menu button {
  background-color: transparent;
  border: 0;
  height: 45px;
  font-size: 14px;
  display: block;
  width: 100%;
  text-align: left;
  margin: 20px 0;
  padding: 0 25px;
}

.menu--selected {
  background-color: #EEE;
}

.menu__new-task {
  color: #878787;
}

.body {
  padding: 30px;
  flex: 1;
}

.taskdeck {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

hr {
  height: 1px;
  border: 0;
  background-color: #EEE;
  width: 100%;
}

time {
  font-size: 14px;
}

.taskcard span {
  display: inline-block;
  margin: 0 25px;
}

.taskcard time {
  color: #B5B5B5;
}

.taskcard {
  margin: 18px 0;
}

.search-box {
  border: 0;
  border-bottom: 2px solid #DADADA;
  background-color: transparent;
  height: 45px;
  font-size: 18px;
  width: 100%;
  padding: 0 25px;
}

.search-box:focus {
  outline: none;
  border-bottom-color: #A7A7A7;
}

.form {
  display: flex;
}

.form .task__name {
  border: 1px solid #DADADA;
  height: 36px;
  font-size: 17px;
  padding: 0 4px;
  width: 100%;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.form .task__save {
  height: 36px;
  background-color: #2D2D2D;
  color: white;
  border: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 0 10px;
}

.taskcard--completed {
  opacity: .5;
}

.error {
  color: red;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
}
